node_modules/
/.bundle
/build
/dist

build/
.gitlab-ci.yml
.env
.env.production
env
trash
trash
.env.production
access.log
.DS_Store

/public/assets

# Ignore master key for decrypting credentials and more.
/config/master.key